# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

***Some of the popular languages that Data Scientists use are:***
1. Python
2. R
3. Scala
4. Java ML

***Some of the commonly used libraries used by Data Scientists include:***
- Pandas
- Numpy
- Matplotlib

|Data Science Tools|
-----------------
| Jupiter notebook |
| Rstudio          |
| Vscode           |

### Below are a few examples of evaluating arithmetic expressions in Python
* 1+4
* 1-3*(5+7)
* 21/12(4-3)

In [1]:
# This a simple arithmetic expression to mutiply then add integers
3*4+5

17

In [2]:
# his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

***Objectives:***
* Python
* Java
* R

## Author
LOUKOUME Ayoula